<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ekgc.vms.dao.MenuDao">
	<select id="findMenuListByParentAndRole" parameterType="java.util.Map" resultMap="menuMap">
		select
			sm.id,
			sm.parent_id,
			sm.text,
			sm.url,
			sm.icon,
			sm.status
		from
			sys_menu sm left join sys_menu parent on sm.parent_id=parent.id
			join sys_role_menu srm on srm.menu_id=sm.id
		<where>
			<trim suffixOverrides="and">
				<if test="roleId != null ">srm.role_id=#{roleId} and </if>
				<!-- 对于if标签来说，属于单分支，如果需要用到双分支，那么使用choose -->
				<choose>
					<when test="parentId != null ">sm.parent_id=#{parentId} and </when>
					<otherwise>sm.parent_id is null and </otherwise>
				</choose>
				<if test="status != null">sm.status=#{status} and </if>
			</trim>
		</where>
		order by sm.create_time asc
	</select>

	<resultMap id="menuMap" type="Menu">
		<id property="id" javaType="java.lang.Long" column="id"/>
		<result property="text" javaType="java.lang.String" column="text"/>
		<result property="url" javaType="java.lang.String" column="url"/>
		<result property="icon" javaType="java.lang.String" column="icon"/>
		<result property="status" javaType="java.lang.Integer" column="status"/>
		<result property="createTime" javaType="java.util.Date" column="create_time"/>
		<result property="updateTime" javaType="java.util.Date" column="update_time"/>
		<association property="parent" javaType="Menu">
			<id property="id" javaType="java.lang.Long" column="parent_id"></id>
		</association>
		<association property="createUser" javaType="User">
			<id property="id" javaType="java.lang.Long" column="create_user"/>
		</association>
		<association property="updateUser" javaType="User">
			<id property="id" javaType="java.lang.Long" column="update_user"/>
		</association>
	</resultMap>
</mapper>