<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="/css/icheck-bootstrap.min.css">
	<link rel="stylesheet" href="/css/adminlte.min.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="/js/adminlte.min.js"></script>
</head>
<body class="hold-transition login-page">
<div class="login-box">
	<div class="login-logo">
		<a href="../../index2.html"><b>车辆管理系统</b></a>
	</div>
	<!-- /.login-logo -->
	<div class="card">
		<div class="card-body login-card-body">
			<p class="login-box-msg">请输入您的相关信息登录系统</p>

			<form action="/user/login" method="post">
				<div class="input-group mb-3">
					<input type="text" name="cellphone" class="form-control" placeholder="请输入您的手机号码">
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-mobile"></span>
						</div>
					</div>
				</div>
				<div class="input-group mb-3">
					<input type="password" name="password" class="form-control" placeholder="请输入您的登录密码">
					<div class="input-group-append">
						<div class="input-group-text">
							<span class="fas fa-lock"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-8">
						<div class="icheck-primary"></div>
					</div>
					<!-- /.col -->
					<div class="col-4">
						<button type="submit" class="btn btn-primary btn-block">登录</button>
					</div>
					<!-- /.col -->
				</div>
			</form>

			<div class="social-auth-links text-center mb-3"></div>
			<!-- /.social-auth-links -->

			<p class="mb-1">
				<a href="forgot-password.html">忘记密码……</a>
			</p>
			<p class="mb-0"></p>
		</div>
		<!-- /.login-card-body -->
	</div>
</div>
</body>
</html>